<div class="text-center">
    <div class="row mb-3">
        <div class="col">
            <h4>BLACKJACK GAME</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-5">
        </div>
        <div class="col">
            <h4>PLAYER</h4>
            <input type="number" class="form-control text-center" placeholder="PLAYER" [(ngModel)]="numplayer" (keyup.enter)="_addplayer()">
        </div>
        <div class="col-5">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h4>RANDOM CARD</h4>
        </div>
    </div>
    <div class="row border border-3 border-dark rounded-pill m-2 p-2" *ngFor="let hero of player">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <h3>PLAYER {{ hero.player }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-sm btn-warning me-2" (click)="_randomcard(hero.player-1)">RAMDOM
                        CARD</button>
                    <!-- <button type="submit" class="btn btn-success ms-2" (click)="_clearcard()">CLEAR</button> -->
                </div>
            </div>
        </div>
        <div class="col text-start">
            <div class="row">
                <div class="col">
                    <h5>CARD = {{ hero.card }}</h5>
                    <!-- <h5>{{ showcard }}</h5> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>SCORE = {{ hero.score }}</h5>
                    <!-- <h5>{{ score }}</h5> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>{{ hero.status }}</h5>
                    <!-- <h5>{{ score }}</h5> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>{{ winner }}</h4>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <!-- <button type="submit" class="btn btn-success me-2" (click)="_randomcard()">RAMDOM CARD</button> -->
            <button type="submit" class="btn btn-warning ms-2" (click)="_clearcard()">CLEAR</button>
        </div>
    </div>



    <!-- <div class="row">
        <div class="col-3"  *ngFor="let hero of player">
            <div class="row">
                <div class="col">
                    <h1>PLAYER </h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-success me-2" (click)="_randomcard()">RAMDOM CARD</button>
                    <button type="submit" class="btn btn-success ms-2" (click)="_clearcard()">CLEAR</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>{{ showcard }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>{{ score }}</h1>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col">
            <h1>{{ showcard }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ score }}</h1>
        </div>
    </div> -->
</div>